.context {
    text-align: center;
    font-family: "Times New Roman", Times, serif;

}

.col {
    text-align:center;
}

.image {
    width: 100%;
}

#parts {
    font-family: "Times New Roman", Times, serif;
}