

.context {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.col {
    text-align:center;
}

.carousel {
    width: 100%;
    margin-bottom: 25px;
}

#parts {
    font-family: "Times New Roman", Times, serif;
}

#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color:#F5FFFA;
  border: solid 2px #708090;
  font-family: "Times New Roman", Times, serif;
}

#panel {
  padding: 50px;
  display:none;
  width: 50%;
  margin: auto;

}

#flip {
    width: 50%;
    font-size: 25px;
    margin: auto;
}

.row {
    margin-top: 20px;
}